<div id="footer" class="bg-dark py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6 order-md-2 offset-md-1">
          <div class="footerLogo">
            <span>أكاديمية الساب</span>
            <img src="../../assets/Logo.png" alt="" />
          </div>
          <div class="content">
            هي عبارة عن مسار تدريبي ينفذه معهد المساندة العالي للتدريب ويشمل
            عدد من الدورات التدريبية النوعية لتأهيل الشباب والشابات وتعزيز
            خبراتهم للعمل على نظام الساب
            </div>
        </div>
        <div class="col-md-5 order-md-1">
          <div class="title">
            <span>تواصل معنا</span>
          </div>
          <div class="details">
            <ul class="list-unstyled">
              <li class="mt-3">
                <span>
                  الرياض -الخرج -القصيم -المدينة المنورة -تبوك -حائل -الجوف
                </span>
                <i class="fa-solid fa-location-dot ms-3 "></i>
              </li>
              <li class="mt-3">
                <span>info&#64;almosanadah.net</span>
                <i class="fa-solid fa-envelope ms-3"></i>
              </li>
              <li class="mt-3">
                <span>8001241212</span>
                <i class="fa-solid fa-phone ms-3"></i>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-md-7 col-lg-8 order-sm-1">
          <p class="hrRight">
            Copyright ©2024 all rights reserved by :
            <span class="ms-2 fw-bold hrFooter">SAP-ACADEMY</span>
          </p>
        </div>
        <div class="col-md-5 col-lg-4 order-sm-2">
          <ul class="list-unstyled list-inline socialIcons">
            <li class="list-inline-item">
              <a href="https://www.linkedin.com/company/%D9%85%D8%B9%D9%87%D8%AF-%D8%A7%D9%84%D9%85%D8%B3%D8%A7%D9%86%D8%AF%D8%A9-%D8%A7%D9%84%D8%B9%D8%A7%D9%84%D9%8A%D8%A9-%D9%84%D9%84%D8%AA%D8%AF%D8%B1%D9%8A%D8%A8/" target="_blank">
                <i class="fa-brands fa-linkedin-in mx-2"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.snapchat.com/add/al-mosanadah?share_id=PT2JBj4RQcaNu1jOZUH3Vg&locale=en_LB&sid=9bc60ade0d994b9783c793d9aebe9f3c" target="_blank">
                <i class="fa-brands fa-snapchat mx-2"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.instagram.com/al_mosanadah/" target="_blank">
                <i class="fa-brands fa-instagram mx-2"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://twitter.com/al__mosanadah?t=-jdzFK8q8HQVWOBtQKhndg" target="_blank">
                <i class="fa-brands fa-twitter mx-2"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.facebook.com/ammosanah.hail.5?mibextid=LQQJ4d" target="_blank">
                <i class="fa-brands fa-facebook mx-2"></i>
              </a>
            </li>
            
          </ul>
        </div>
      </div>
    </div>
  
  
  
  </div>
  