<div id="fico">
    <div class="courseCoverImg"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-5 courseImg">
          <img src="../../assets/FICO.jpg" class="w-100" alt="" />
          <div class="text-center">
            <a
            routerLink="/register"
            class="btn e7gzBtn bg-warning text-white mt-4"
          >
            احجز الان
          </a>
          
          </div>
        </div>
        <div class="col-md-7">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item " role="presentation">
              <button
                class="nav-link active text-uppercase"
                id="home-tab"
                data-bs-toggle="tab"
                data-bs-target="#home"
                type="button"
                role="tab"
                aria-controls="home"
                aria-selected="true"
              >
                SAP Financial Accounting
              </button>
            </li>
            <li class="nav-item " role="presentation">
              <button
                class="nav-link"
                id="profile-tab"
                data-bs-toggle="tab"
                data-bs-target="#profile"
                type="button"
                role="tab"
                aria-controls="profile"
                aria-selected="false"
              >
                SAP CO CONSULTANT TRACK
              </button>
            </li>
          </ul>
          <div class="tab-content" id="myTabContent">
            <div
              class="tab-pane fade show active"
              id="home"
              role="tabpanel"
              aria-labelledby="home-tab"
            >
              <div>
                <h3 class="fw-bold">
                  SAP Financial Accounting (End-user + Configuration) Course
                </h3>
                <div class="courseOutline">
                  <h5 class="my-3 fw-bold">COURSE OUTLINES</h5>
                  <ul>
                    <li>
                      <p class="fw-bold p-0 m-0"> General Ledger</p>
                      <ul>
                        <li>Create Company</li>
                        <li>Create Chart of accounts</li>

                        <li>Create Accounts</li>
                        <li>Create Recon Account</li>
                        <li>
                          Create Fiscal year variant “Define Financial Period
                          Interval”
                        </li>
                        <li>Create Field Status Variant</li>
                        <li>
                          Create Posting period variant “Control Posting
                          Periods”
                        </li>
                        <li>Maintain Global parameters</li>
                        <li>Maintain Document Number Range</li>
                        <li>Create Employee Tolerance Group</li>
                        <li>Document type and Posting key</li>
                      </ul>
                    </li>
                    <li class="pt-1">
                      <p class="fw-bold p-0 m-0">Accounts Receivables</p>
                      <ul>
                        <li>Customer Accounts Groups</li>
                        <li>Customer Tolerance Group</li>
                        <li>Payment Terms</li>
                        <li>Customer number range</li>
                        <li>Special GL “Down payment” For Customer</li>
                      </ul>
                    </li>
                    <li class="pt-1">
                      <p class="fw-bold p-0 m-0">Banking – Cash</p>
                      <ul>
                        <li>Define Cash Journal</li>
                        <li>Define Business Transaction</li>
                        <li>Define CJ Number range</li>
                        <li>Maintain Payment Methods</li>
                        <li>Maintain House Banks</li>
                      </ul>
                    </li>
                    <li class="pt-1">
                      <p class="fw-bold p-0 m-0">Fixed Assets</p>
                      <ul>
                        <li>Copy Chart of depreciation</li>
                        <li>Maintain Depreciation area</li>
                        <li>Create Account Determination</li>
                        <li>Assign accounts – Account Determination</li>
                        <li>Define screen layout for asset master data</li>
                        <li>
                          Define Screen layout for asset Depreciation area
                        </li>
                        <li>Create assets classes</li>
                        <li>Create Depreciation key</li>
                        <li>
                          Assign screen layout and Depreciation key to asset
                          class
                        </li>
                        <li>Define How Depreciation area post to GL</li>
                      </ul>
                    </li>
                    <li class="pt-1">
                      <p class="fw-bold p-0 m-0">Taxation</p>
                      <ul>
                        <li>Configuring Tax</li>
                        <li>Configuring Withholding Tax</li>
                      </ul>
                    </li>
                    <li class="pt-1">
                      <p class="fw-bold p-0 m-0">
                        Creating and Managing Recurring Entries
                      </p>
                    </li>
                    <li class="pt-1">
                      <p class="fw-bold p-0 m-0">
                        Creating Financial Statement Versions
                      </p>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div
              class="tab-pane fade"
              id="profile"
              role="tabpanel"
              aria-labelledby="profile-tab"
            >
              <div>
                <h3 class="fw-bold">
                  SAP Controlling End-user + Configuration
                </h3>

                <div class="courseOutline">
                  <h5 class="my-3 fw-bold">COURSE OUTLINES</h5>

                  <ul>
                    <li>
                      <p class="fw-bold"> Cost Element Accounting</p>
                    </li>
                    <li>
                      <p class="fw-bold">Master Data</p>
                    </li>
                    <li>
                      <p class="fw-bold">Planning</p>
                    </li>
                    <li>
                      <p class="fw-bold">Actual Posting</p>
                    </li>
                    <li>
                      <p class="fw-bold">Information System (Reports)</p>
                    </li>
                    <li>
                      <p class="fw-bold">Profitability Analysis</p>
                      <ul>
                        <li>
                          <p>
                            Execute profitability analysis (Run profitability
                            report) CO-PA
                          </p>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>