<div id="sd">
    <div class="courseCoverImg"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-5 courseImg">
          <img src="../../assets/SD.jpg" class="w-100" alt="" />
          <div class="text-center">
            <a
            routerLink="/register"
            class="btn e7gzBtn bg-warning text-white mt-4"
          >
            احجز الان
          </a>
          
          </div>
        </div>
        <div class="col-md-7">
          <h3 class="fw-bold">
            SAP Sales & Distribution End-user + Configuration
          </h3>
          <div class="courseOutline">
            <h5 class="my-3 fw-bold">COURSE OUTLINES</h5>
            <ul>
              <li>
                <p class="fw-bold p-0 m-0">
                  Processes in Sales & distribution
                </p>
                <ul>
                  <li>Organizational Levels in SD</li>
                  <li>Basics of The Sales Process</li>

                  <li>Master Data in Sales and Distribution</li>
                  <li>Data Determination and Collective processing</li>
                  <li>Availability Check</li>
                  <li>Make To Order</li>
                  <li>Complaints Processing</li>
                  <li>Integrating SAP ECC and SAP CRM</li>
                </ul>
              </li>
              <li class="pt-1">
                <p class="fw-bold p-0 m-0">Sales</p>
                <ul>
                  <li>Sales Order Processing</li>
                  <li>Controlling Sales Documents</li>
                  <li>Business Partners and Partner Determination</li>
                </ul>
              </li>
              <li class="pt-1">
                <p class="fw-bold p-0 m-0">
                  Delivery & invoice Verification
                </p>
                <ul>
                  <li>Idea and function of the delivery document</li>
                  <li>Basic Organizational Units for the Delivery Process</li>
                  <li>Introduction to Billing Documents</li>
                  <li>Controlling the Billing Process</li>
                  <li>Creating Billing Documents</li>
                </ul>
              </li>
              <li class="pt-1">
                <p class="fw-bold p-0 m-0">Pricing</p>
                <ul>
                  <li>Pricing Fundamentals</li>
                  <li>Special Functions</li>
                  <li>Condition Types</li>
                  <li>Taxes, Pricing Agreements, and Rebates</li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>