<div id="pp">
    <div class="courseCoverImg"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-5 courseImg">
          <img src="../../assets/PP.jpg" class="w-100" alt="" />
          <div class="text-center">
          <a
        routerLink="/register"
        class="btn e7gzBtn bg-warning text-white mt-4"
        >
        احجز الان
        </a>

          </div>
        </div>
        <div class="col-md-7">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <button
                class="nav-link active text-uppercase"
                id="home-tab"
                data-bs-toggle="tab"
                data-bs-target="#home"
                type="button"
                role="tab"
                aria-controls="home"
                aria-selected="true"
              >
                SAP PP CONSULTANT TRACK
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button
                class="nav-link"
                id="profile-tab"
                data-bs-toggle="tab"
                data-bs-target="#profile"
                type="button"
                role="tab"
                aria-controls="profile"
                aria-selected="false"
              >
                SAP QM CONSULTANT TRACK
              </button>
            </li>
          </ul>
          <div class="tab-content" id="myTabContent">
            <div
              class="tab-pane fade show active"
              id="home"
              role="tabpanel"
              aria-labelledby="home-tab"
            >
              <div>
                <h3 class="fw-bold">
                  SAP Production Planning End-user + Configuration
                </h3>
                <div class="courseOutline">
                  <h5 class="my-3 fw-bold">COURSE OUTLINES</h5>
                  <ul>
                    <li>
                      <p class="fw-bold">
                      
                        Introduction to SAP ERP Systems
                      </p>
                    </li>
                    <li class="pt-1">
                      <p class="fw-bold p-0 m-0">Material Masters</p>
                      <ul>
                        <li>Material Master Overview</li>
                        <li>PP Material Master views</li>
                        <li>
                          Creating ,Classification ,Managing and Configuration
                          of the Material Master
                        </li>
                      </ul>
                    </li>
                    <li class="pt-1">
                      <p class="fw-bold p-0 m-0">Production Order</p>
                      <ul>
                        <li>
                          Task List Application Areas, Relationships, and
                          Functional Process Flow of In-House Production with
                          Production Orders
                        </li>
                        <li>
                          Characteristics, Terms, and Prerequisites of
                          Production Orders
                        </li>
                        <li>Order Creation and Processing</li>
                      </ul>
                    </li>
                    <li class="pt-1">
                      <p class="fw-bold p-0 m-0">
                        Production Planning (ERP)
                      </p>
                      <ul>
                        <li>Executing Material Requirements Planning</li>
                        <li>Technical Processes of Requirements Planning</li>
                        <li>Evaluating and Processing the MRP Results</li>
                      </ul>
                    </li>
                    <li class="pt-1">
                      <p class="fw-bold p-0 m-0">
                        Manufacturing Overview
                      </p>
                      <ul>
                        <li>
                          Order-Controlled Production with Process Orders
                        </li>
                        <li>
                          Elements, Functions, and Processing of a Production
                          Order
                        </li>
                      </ul>
                    </li>
                    <li class="pt-1">
                      <p class="fw-bold p-0 m-0">Demand Planning</p>
                      <ul>
                        <li>Demand Planning</li>
                        <li>Demand Management</li>
                      </ul>
                    </li>
                    <li class="pt-1">
                      <p class="fw-bold p-0 m-0">Capacity Planning</p>
                      <ul>
                        <li>Integration of Capacity Planning</li>
                        <li>Assigning Individual Capacities</li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div
              class="tab-pane fade"
              id="profile"
              role="tabpanel"
              aria-labelledby="profile-tab"
            >
              <div>
                <h3 class="fw-bold">
                  SAP Quality Management enduser + configuration
                </h3>
                <div class="courseOutline">
                  <h5 class="my-3 fw-bold">COURSE OUTLINES</h5>
                  <ul>
                    <li>
                      <p class="fw-bold p-0 m-0">
                        Introduction to SAP QM
                      </p>
                      <ul>
                        <li>Basics of SAP QM</li>
                        <li>Basics of SAP GUI Navigation</li>
                        <li>
                          Integration of Quality Management in the Supply
                          Chain – Process-Related Overview
                        </li>
                      </ul>
                    </li>
                    <li class="pt-1">
                      <p class="fw-bold p-0 m-0">
                        Quality Management in Various Processes
                      </p>
                      <ul>
                        <li>QM in Procurement and Sales</li>
                        <li>QM in Production</li>
                        <li>Insight into QM Functions</li>
                      </ul>
                    </li>
                    <li class="pt-1">
                      <p class="fw-bold p-0 m-0">Quality Planning</p>
                      <ul>
                        <li>Managing QM-Specific Basic Data</li>
                        <li>Inspection Planning</li>
                      </ul>
                    </li>
                    <li class="pt-1">
                      <p class="fw-bold p-0 m-0">
                        Quality Inspection and Notification
                      </p>
                      <ul>
                        <li>Quality Inspection Process</li>
                        <li>
                          Quality Notification and SAP Business Workflow
                        </li>
                      </ul>
                    </li>
                    <li class="pt-1">
                      <p class="fw-bold p-0 m-0">
                        Quality Management in Logistics
                      </p>
                      <ul>
                        <li>
                          Inventory Management with QM, Inspection Stock, and
                          Inspection
                        </li>
                        <li>Control of the Procurement Process</li>
                        <li>Inspections of Goods Movements</li>
                      </ul>
                    </li>
                    <li class="pt-1">
                      <p class="fw-bold p-0 m-0">
                        Audit Management Functions and Processes
                      </p>
                    </li>
                    <li class="pt-1">
                      <p class="fw-bold p-0 m-0">
                        Test Equipment Management Functions and Processes
                      </p>
                    </li>
                    <li class="pt-1">
                      <p class="fw-bold p-0 m-0">Reports and Analyses</p>
                    </li>
                    <li class="pt-1">
                      <p class="fw-bold p-0 m-0">
                        Quality Management in Logistics
                      </p>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>