
#basis .courseCoverImg {
    background-image: linear-gradient(
        to bottom,
        rgba(57, 49, 49, 0.5),
        rgba(57, 49, 49, 0.5)
      ),
      url("../../assets/CourseCover1.png");
    background-position: center center;
    background-size: cover;
    height: 30vh;
  }
  #basis .container {
    margin-top: 25px;
  }
  #basis .courseImg img {
    box-shadow: 3px 3px 15px 0px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
  }
  #basis .courseImg .regBtn {
    padding: 10px;
    width: 200px;
  }
  @media (max-width: 992px) {
    #basis .courseImg .regBtn {
      width: 200;
      padding: 10px;
      margin-bottom: 1.5rem;
    }
  }
  