<div id="basis">
    <div class="courseCoverImg"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-5 courseImg">
          <img src="../../assets/BASIS.jpg" class="w-100" alt="" />
          <div class="text-center">
            <a
            routerLink="/register"
            class="btn e7gzBtn bg-warning text-white mt-4"
          >
            احجز الان
          </a>
          
          </div>
        </div>
        <div class="col-md-7">
          <h3 class="fw-bold">SAP BASIS CONSULTANT TRACK</h3>
          <div class="preReq">
            <p class="my-3">
              SAP BASIS course outline includes foundational concepts,
              detailed procedures, and practical applications to provide a
              thorough understanding of SAP Basis administration
            </p>
          </div>
          <div class="courseOutline">
            <h5 class="my-3 fw-bold">COURSE OUTLINES</h5>
            <ul>
              <li>
                <p class="fw-bold p-0 m-0">
                  Introduction and Fundamentals
                </p>
                <ul>
                  <li>Introduction to SAP ERP and SAP Basis</li>
                  <li>SAP Architecture and Components</li>
                  <li>Client-Server Architecture</li>
                  <li>Introduction to SAP GUI and Navigation</li>
                </ul>
              </li>
              <li class="pt-1">
                <p class="fw-bold p-0 m-0">
                  Fundamentals of System Logon and Operations
                </p>
                <ul>
                  <li>Describing the Process of a System Logon</li>

                  <li>Configuring SAP Logon</li>
                  <li>Start and Stop Procedure</li>
                </ul>
              </li>
              <li class="pt-1">
                <p class="fw-bold p-0 m-0">System Configuration</p>
                <ul>
                  <li>Analyzing System Profile Parameters</li>
                  <li>Setting up profile parameters</li>
                  <li>Configuring operations modes</li>
                </ul>
              </li>
              <li class="pt-1">
                <p class="fw-bold p-0 m-0">
                  Fundamentals of User Administration
                </p>
                <ul>
                  <li>Creating Users and users Groups</li>
                  <li>Maintaining Authorization Roles</li>
                  <li>Describing Advanced User Administration Topics</li>
                </ul>
              </li>
              <li class="pt-1">
                <p class="fw-bold p-0 m-0">Software Maintenance</p>
                <ul>
                  <li>Implementing Software Note and Support Package</li>
                  <li>Operating the Support Package Manager</li>
                  <li>Applying Support Packages</li>
                </ul>
              </li>
              <li class="pt-1">
                <p class="fw-bold p-0 m-0">Output Management</p>
                <ul>
                  <li>Configuring Printers on AS ABAP</li>
                  <li>Managing Spool Requests</li>
                  <li>Defining the Printing Assistant for Landscapes</li>
                </ul>
              </li>
              <li class="pt-1">
                <p class="fw-bold p-0 m-0">
                  Background Processing and Scheduling
                </p>
                <ul>
                  <li>Learning the Fundamentals of Background Processing</li>
                  <li>Defining Time-Based Scheduled Jobs</li>
                  <li>Defining Event-Based Scheduled Jobs</li>
                  <li>Scheduling Jobs with SAP Central Process</li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>