<div id="target">
    <div class="container">
      <div class="title">
        <h2>الفئات المستهدفه</h2>
      </div>
      <div class="line"></div>
      <div class="mt-3 card">
        <div class="card-body">
          <p>
            في سياق دورات SAP، هناك عدة فئات مستهدفة تختلف بناءً على التخصص
            والاحتياجات المهنيةالدورات الفنية والتجارية في SAP تستهدف مجالات
            مختلفة وأدوار وظيفية متنوعة داخل الشركات إليك بعض الفئات المستهدفة
            لكل نوع من هذه الدورات
          </p>
          <ul>
            <li>المحاسبون</li>
            <li>خريجو إدارة الأعمال</li>
            <li>خريجي علوم الكمبيوتر</li>
            <li>مهندسو البرمجيات</li>
            <li>الدعم الفني وتكنولوجيا المعلومات وإدارة الخادم</li>
          </ul>
        </div>
      </div>
    </div>
  </div>