<div id="hcm">
    <div class="courseCoverImg"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-5 courseImg">
          <img src="../../assets/HCM.jpg" class="w-100" alt="" />
          <div class="text-center">
            <a
            routerLink="/register"
            class="btn e7gzBtn bg-warning text-white mt-4"
          >
            احجز الان
          </a>
          
          </div>
        </div>
        <div class="col-md-7">
          <h3 class="fw-bold">
            SAP Human capital management (End-user + Configuration) Course
          </h3>
          <div class="courseOutline">
            <h5 class="my-3 fw-bold">
              The content of an SAP HCM (Human Capital Management) course
              typically covers the following topics:
            </h5>
            <ul>
              <li>
                <p class="fw-bold p-0 m-0">Introduction to SAP HCM</p>
                <ul>
                  <li>Overview of SAP HCM module</li>
                  <li>Importance and benefits of SAP HCM</li>
                </ul>
              </li>
              <li class="pt-1">
                <p class="fw-bold p-0 m-0">Organizational Management</p>
                <ul>
                  <li>Organizational structure and hierarchy</li>
                  <li>Organizational units, positions, and jobs</li>
                  <li>Creation and maintenance of organizational data</li>
                  <li>Reporting and analysis in Organizational Management</li>
                </ul>
              </li>
              <li class="pt-1">
                <p class="fw-bold p-0 m-0">Personnel Administration</p>
                <ul>
                  <li>Employee master data management</li>
                  <li>Employee lifecycle processes</li>
                  <li>Time data recording and attendance management</li>
                </ul>
              </li>
              <li class="pt-1">
                <p class="fw-bold p-0 m-0">Personnel Development</p>
                <ul>
                  <li>Competency management and development</li>
                  <li>Performance management</li>
                  <li>Succession planning and talent management</li>
                </ul>
              </li>
              <li class="pt-1">
                <p class="fw-bold p-0 m-0 ">Payroll Management</p>
                <ul>
                  <li>Payroll processes and configuration</li>
                  <li>Payroll calculation and processing</li>
                  <li>Wage types and payroll schemas</li>
                  <li>Statutory compliances and legal requirements</li>
                </ul>
              </li>
              <li class="pt-1">
                <p class="fw-bold p-0 m-0">Talent Management</p>
                <ul>
                  <li>Recruitment and applicant tracking</li>
                  <li>Onboarding and induction processes</li>
                  <li>Performance appraisal and goal setting</li>
                </ul>
              </li>
              <li class="pt-1">
                <p class="fw-bold p-0 m-0">Time Management</p>
                <ul>
                  <li>Time Management Overview</li>
                  <li>Configuration of Work Schedules</li>

                  <li>Absences and Attendances</li>
                </ul>
              </li>
              <li class="pt-1">
                <p class="fw-bold p-0 m-0">Reporting and Analytics</p>
                <ul>
                  <li>Standard reports and queries in SAP HCM</li>
                  <li>HR analytics and workforce planning</li>
                  <li>
                    Integration with SAP Business Intelligence (BI) tools
                  </li>
                </ul>
              </li>
              <li class="pt-1">
                <p class="fw-bold p-0 m-0">
                  Employee Self-Service (ESS) and Manager Self-Service (MSS)
                </p>
                <ul>
                  <li>
                    Overview and configuration of ESS and MSS functionality
                  </li>
                  <li>Employee and manager self-service processes</li>
                  <li>Employee and manager self-service portal</li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>