

<div class="mainSlider">
    <div class="d-flex justify-content-center align-content-center flex-wrap flex-column homeCont ">
      <h2 class="text-center">أكاديمية الساب</h2>
      <h4 >
        هي عبارة عن مسار تدريبي ينفذه معهد المساندة العالي للتدريب ويشمل عدد
        من الدورات التدريبية النوعية لتأهيل الشباب والشابات وتعزيز خبراتهم
        للعمل على نظام الساب
      </h4>
      <!-- {/* <h4>مؤسسة تعليميه تقدم دورات تدريبية</h4> */} -->
      <a href="/register" class="sliderBtn">
        احجز مقعدك الان
      </a>
    </div>
    <div class="d-flex justify-content-center align-content-center  flex-wrap flex-column homeImg ">
      <img src="../../assets/homeImg.png" alt="" class="w-100" />
    </div>
  </div>